/* =========================================
    text-align: center;

    padding: 14px;

    margin-top: auto;
}

/* =========================================
   RESPONSIVO
========================================= */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: stretch;

        text-align: center;
    }

    .top-controls {
        width: 100%;

        justify-content: space-between;

        flex-wrap: wrap;
    }

    .theme-control {
        justify-content: flex-end;
    }

    .tabs {
        flex-direction: column;

        margin: 10px;
    }

    .card {
        margin: 10px;
        padding: 16px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .filter-controls {
        flex-direction: column;
    }

    .filter-controls input,
    .filter-controls select {
        width: 100%;
        min-width: 100%;
    }

    table {
        min-width: 850px;
    }

    td,
    th {
        padding: 8px;
        font-size: 13px;
    }

    button {
        width: 100%;
    }

    .user-actions button,
    .logout-btn,
    .lang-minimal {
        width: auto !important;
    }
}
